<footer class="clearfix" id="page_footer">
  <div class="container text-center">
    <div class="row">
      <!--Footer Copy-->
      <h5 class="copyright">Copyrights &copy; 2016 Design by <a target="_blank" href="#">Spring Up</a>.</h5>
      <!--/ Footer Copy-->
      <!--Footer Social Icon-->
      <ul class="footer-socials clearfix">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      </ul>
      <!--/ Footer Social Icon-->
    </div>
  </div>
</footer>
